__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
.eggs/
build/
dist/
Develop-eggs/
.installed.cfg
*.egg
*.log

.env
.venv
.venv/
env/
venv/
ENV/
ENV.bak/
venv.bak/
pip-wheel-metadata/

.cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.pytest_cache/
.dmypy.json

.idea/
.vscode/
.DS_Store
Thumbs.db

.http-test-artifacts/
.pytest_cache/
docs/
